In [1]:
print("hello world")

hello world

In [2]:
salaries = ['20k','40k','50k','60k','35k','89k','40k']
print(salaries)

['20k', '40k', '50k', '60k', '35k', '89k', '40k']

# length of salaries list

In [3]:
print(len(salaries));

7

# Retrieve the third salary in the list

In [4]:
salaries[2]

'50k'

# 3. Extract the last salary from the list by using a negative index.

In [5]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k']

In [6]:
salaries[-1]

'40k'

## 4. Slice the salaries list to get only the middle three salaries.

In [7]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k']

In [8]:
salaries[2:5]

['50k', '60k', '35k']

# 5. Add a new salary to the list, ‘100k’ by using append() method.

In [9]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k']

In [10]:
salaries = salaries.append('100k')

In [11]:
salaries

# 5. Add a new salary to the list, ‘120k’ without method.

In [4]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k', '40k']

In [9]:
salaries = salaries + ['120k']

In [10]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '120k']

# 6. Replace the third salary in the list with '55k' and print the updated list.

In [11]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '120k']

In [12]:
salaries[2] = '55k'

In [13]:
salaries

['20k', '40k', '55k', '60k', '35k', '89k', '40k', '120k']

# 7. Count how many times '40k' appears in the list.

In [42]:
salaries

In [14]:
salaries.count('40k')

2

# 8. Insert a new salary at the second position.

In [44]:
salaries

In [15]:
salaries.insert(1,'25k')

In [16]:
salaries

['20k', '25k', '40k', '55k', '60k', '35k', '89k', '40k', '120k']

# 9. Reverse the order of the salaries list with method.

In [17]:
salaries.reverse()

In [18]:
salaries

['120k', '40k', '89k', '35k', '60k', '55k', '40k', '25k', '20k']

# 10. Reverse the order of the salaries list without method.